# Build phenix development installer on CentOS 7 from source tarball

# no continuous integration builds or pull requests
trigger: none
pr: none

resources:
  pipelines:
  - pipeline: source_tarball
    source: source_tarball
    trigger:
      branches:
        include:
          - main

jobs:
- job: Build_dev_installer
  pool:
    vmImage: ubuntu-22.04
  timeoutInMinutes: 360

  container:
    image: cctbx/centos:7
    options: "--name ci-container -v /usr/bin/docker:/tmp/docker:ro"

  # variables for Google Drive folder and installer name
  variables:
  - name: folder_id
    value: 1m2p6k6UdF798vlH1D6eemvTqngj5Ei-q
  - name: installer_name
    value: TBD
  - name: version
    value: TBD

  steps:

  # secrets for LBL
  - task: DownloadSecureFile@1
    name: ssh_key
    inputs:
      secureFile: id_rsa

  - task: DownloadSecureFile@1
    name: upload_key
    inputs:
      secureFile: phenix-lbl-04e6cb0d1bf7.json

  - task: DownloadSecureFile@1
    name: ssh_config
    inputs:
      secureFile: ssh.config

  # download support scripts
  - checkout: self

  # clean up linux image
  - script: |
      sudo $(Build.Repository.LocalPath)/scripts/clean_linux.sh
    displayName: Clean up linux image
    target: host

  - script: |
      for p in \
        cpp cpp-12 cpp-13 cpp-14 \
        gcc gcc-12 gcc-13 gcc-14 \
        gfortran gfortran-12 gfortran-13 gfortran-14 \
        g++-12 g++-13 g++-14 \
        clang-16 clang-format-16 clang-17 clang-format-17 clang-18 clang-format-18 \
        lld-16 lld-17 lld-18 lldb-18 \
        firebird3.0-common firebird3.0-common-doc \
        apache2 apache2-bin apache2-data apache2-utils \
        google-cloud-cli google-cloud-cli-anthoscli \
        mysql-server mysql-client \
        postgresql-16 postgresql-client-16 \
        java-common temurin-8-jdk temurin-11-jdk temurin-17-jdk temurin-21-jdk\
        nginx php8.3 php8.3-cli php8.3-common python3-dev ruby ruby-dev dotnet-sdk-8.0; do
        echo "Removing ${p}"
        echo "======================="
        sudo apt-get purge -y ${p}
      done
      sudo apt-get autoremove -y
      sudo apt-get clean -y

      sudo rm -fr /var/www/html

      sudo rm -fr ${CONDA}
      sudo rm -fr ${VCPKG_INSTALLATION_ROOT}

      sudo rm -fr /opt/pipx/*

      sudo rm -fr /usr/share/gradle*
      sudo rm -fr /usr/share/miniconda
      sudo rm -fr /usr/share/php
      sudo rm -fr /usr/src/*
      sudo rm -fr /usr/local/bin/*
      sudo rm -fr /usr/local/julia*
      sudo rm -fr /usr/local/lib/*
      sudo rm -fr /usr/local/share/chromium
      sudo rm -fr /usr/local/aws-sam-cli
      sudo rm -fr /usr/local/aws-cli

      sudo apt list --installed
      dpkg-query -W -f='${Installed-Size;8}  ${Package}\n' | sort -n

      for d in / /opt/az /usr /usr/lib /usr/share /usr/local /usr/local/bin /usr/local/lib /usr/local/share; do
        cd ${d}
        echo ""
        echo "${d}"
        echo "======================="
        sudo du -sh -- *  | sort -rh
      done

    displayName: Clean up linux image some more
    target: host
    continueOnError: true

  # centos setup
  - script: |
      set -xe
      sudo yum groupinstall -y 'Development Tools'
      sudo yum install -y \
        mesa-libGLU-devel \
        mesa-libGL-devel \
        openssh \
        tcsh \
        wget
    displayName: Install dependencies

  - script: |
      set -xe
      cd $(Pipeline.Workspace)
      wget https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
      bash Miniforge3-Linux-x86_64.sh -b -u -p $(Pipeline.Workspace)/miniforge
      rm -f Miniforge3-Linux-x86_64.sh
    displayName: Install conda

  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda create -n compilers -y c-compiler cxx-compiler
    displayName: Create compiler environment

  # download source tarball
  - task: DownloadPipelineArtifact@2
    inputs:
      source: 'specific'
      project: '$(resources.pipeline.source_tarball.projectID)'
      pipeline: '$(resources.pipeline.source_tarball.pipelineID)'
      preferTriggeringPipeline: true
      allowPartiallySucceededBuilds: false
      allowFailedBuilds: false
      artifactName: phenix

  # decrypt and extract tarball
  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda activate base
      cd $(Pipeline.Workspace)
      openssl enc -d \
        -aes-256-cbc \
        -salt \
        -md sha256 \
        -iter 100000 \
        -pbkdf2 \
        -in phenix.enc \
        -out phenix.tgz \
        -pass env:TARBALL_PASSWORD
      ls
      rm -f phenix.enc
      ls
      tar -xf phenix.tgz
      ls
      rm -f phenix.tgz
      ls
      mv phenix* phenix
      ls
    displayName: Extract tarball

  - script: |
      set -xe
      df -h
    displayName: Check disk space

  - script: |
      cd $(Pipeline.Workspace)/phenix
      version=`cat VERSION | xargs`
      echo "##vso[task.setVariable variable=version]$version"
      echo $(version)
    displayName: Set version

  - script: |
      installer_name=phenix-installer-$(version)-intel-linux-x86_64
      echo "##vso[task.setVariable variable=installer_name]$installer_name"
      echo $(installer_name)
    displayName: Set installer_name

  - script: |
      set -xe
      echo $(version)
      echo $(installer_name)
    displayName: Check version and installer_name

  # patch installer script
  - script: |
      set -xe
      cd $(Pipeline.Workspace)/phenix
      cp $(Build.Repository.LocalPath)/patches/create_installer.py \
         ./modules/cctbx_project/libtbx/auto_build/create_installer.py
    displayName: Use patched create_installer.py

  # build
  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda activate compilers
      cd $(Pipeline.Workspace)/phenix
      ln -s ./modules/cctbx_project/libtbx/auto_build/bootstrap.py
      python bootstrap.py base build \
        --builder=phenix \
        --use-conda=./modules/phenix/conda_envs/phenix_py39_cuda12_linux-64.txt \
        --nproc=4
    displayName: Build Phenix

  - script: |
      set -xe
      df -h
    displayName: Check disk space

  # create build tarball and encrypt
  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda activate base
      cd $(Pipeline.Workspace)
      tar -cf phenix.tar ./phenix
      openssl enc \
        -aes-256-cbc \
        -salt \
        -md sha256 \
        -iter 100000 \
        -pbkdf2 \
        -in phenix.tar \
        -out phenix.enc \
        -pass env:TARBALL_PASSWORD
    displayName: Create build tarball and encrypt

  # store build as an artifact
  - publish: $(Pipeline.Workspace)/phenix.enc
    artifact: nightly_build
    continueOnError: true

  - script: |
      set -xe
      cd $(Pipeline.Workspace)
      rm -f phenix.tar
      rm -f phenix.enc
    displayName: Clean up build tarballs

  - script:|
      set -xe
      rm -fr $(Pipeline.Workspace)/miniforge/pkgs/*
    displayName: Clean conda package cache

  - script: |
      set -xe
      du -sh cd $(Pipeline.Workspace)/phenix/conda_base
      df -h
    displayName: Check disk space

  # create installer
  - script: |
      set -xe
      cd $(Pipeline.Workspace)/phenix
      ./build/bin/libtbx.create_installer \
        --binary \
        --version $(version) \
        --install_script modules/phenix/phenix/installer/phenix_installer.py \
        --license modules/phenix/LICENSE.txt \
        --readme modules/phenix/CHANGES \
        --readme modules/phenix/phenix/installer/README \
        --readme modules/phenix/phenix/installer/SOURCES \
        --dist_dir dist/$(version) \
        tmp/$(installer_name)
    displayName: Create binary installer

  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      cd $(Pipeline.Workspace)/phenix
      rm -fr dist
      cd tmp
      export XZ_OPT="-T4 -9"
      tar -Jcf $(installer_name).tar.xz $(installer_name)
    displayName: Recompress with xz

  - script: |
      set -xe
      df -h
    displayName: Check disk space

  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda clean -y --all
    displayName: Clean up

  - script: |
      set -xe
      df -h
    displayName: Check disk space

  # set up Google Drive upload environment
  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      if [ -d $(Pipeline.Workspace)/miniforge/envs/upload ]; then
        conda remove -n upload -y --all
      fi
      conda create -n upload -y python=3.10
      conda activate upload
      pip install --no-input google-api-python-client google-auth-httplib2 google-auth-oauthlib oauth2client
    displayName: Set up upload environment
    retryCountOnTaskFailure: 3

  # upload to LBL
  - task: CopyFilesOverSSH@0
    inputs:
      sshEndpoint: cci3
      sourceFolder: $(Pipeline.Workspace)/phenix/tmp
      contents: $(installer_name).tar.xz
      targetFolder: /net/cci-filer2/raid1/auto_build/phenix_installers/$(version)
      overwrite: false
    displayName: Upload installer to Berkeley
    continueOnError: true

  # upload to Google Drive
  - script: |
      set -xe
      source $(Pipeline.Workspace)/miniforge/etc/profile.d/conda.sh
      conda activate upload

      cd $(Pipeline.Workspace)/phenix/tmp
      python $(Build.Repository.LocalPath)/scripts/google_drive.py \
        --credentials $(upload_key.secureFilePath) \
        --drive "Phenix Installers" \
        --folder "$(version)" \
        --file $(installer_name).tar.xz
    displayName: Upload full development build tarball (xz) to Google Drive
    continueOnError: true
